<!DOCTYPE html>
<head>
    <title>About</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h1>Acerca de nuestro grupo</h1>
            <p>Somos el grupo Turing</p>
        </div>
    </div>
</body>
</html>