<!DOCTYPE html>
<head>
    <title>Homepage</title>
</head>
<body>
    <div class="jumbotron mt-4">
        <h1 class="display-4">Proyecto Mintic 2022</h1>
        <p class="lead">Nuevos programadores para Colombia</p>
        <p>Loren impsun</p>
        <a href="mailto:leisysado@gmail.com" class="btn btn-primary btn-lg">Escríbeme</a>
    </div> 
</body>
</html>